:root {
  --cl-black: #000;
  --cl-black-hover: #555;

  --cl-white: #fff;

  --cl-primary: #01630b;
  --cl-primary-hover: #31913b;

  --cl-warning: #e3a300;
  --cl-warning-hover: #f2cf74;

  --cl-secondary: #6b41be;
  --cl-secondary-hover: #8156d7;

  --cl-yellow-1: #c4aa68;
}
