.card {
  background-color: var(--cl-yellow-1);
  width: 200px;
  border: 2px solid var(--cl-white);
  padding: 16px;
  position: relative;
}

.labelImgCard {
  position: absolute;
  top: 0;
  right: -20px;
  border-radius: 8px;
  transform: rotate(-30deg);
}

.cardImages {
  margin-bottom: 32px;
  position: relative;
  height: 100px;
}

.cardImage {
  width: 80px;
  height: 112px;
  border-radius: 4px;
  position: absolute;

  &:first-child {
    left: 0;
  }

  &:nth-child(2) {
    left: 50%;
    transform: translateX(-50%);
    top: -8px;
  }

  &:nth-child(3) {
    right: 0;
  }
}

.waitingImg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.cardInfo {
  text-align: center;
}

.label {
  font-weight: bold;
  margin-right: 8px;
}
