.root {
  padding: 16px 32px;
  max-width: 1000px;
  margin: 0 auto;
}

.gameContainer {
  display: grid;
  grid-template-areas:
    'user1 user1 user1'
    'user2 user user0'
    'user3 user3 user3';
  gap: 10px;

  & > div {
    margin: auto;
  }
}

@for $i from 0 through 3 {
  .user#{$i} {
    grid-area: user#{$i};
  }
}

.actions {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 32px;
}

.deckCardButton {
  text-align: center;
  margin-top: 32px;
}
